<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Funny Movies", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
      <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Notification</strong>
          <small>Newest</small>
        </div>
        <div class="toast-body" id="notifications">
          Hello, world! This is a toast message.
        </div>
      </div>
    </div>    

    <% if current_user.present? %>
    <div class="d-flex" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><%= current_user.email%></a>
        </li>
        <li class="nav-item">
          <%= link_to "Shared a movie", new_post_path, class: "nav-link active btn btn-info", style: 'margin-right: 3px' %>
        </li>
        <li class="nav-item">
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link active btn btn-info"  %>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
</nav>